{% extends "layout.html" %}

{% block title %}Cinemapedia{% endblock %}

{% block content %}
<h2>Lisää uusi arvostelu</h2>
<form action="/create_item" method="post">
    <p>
        <label for="title">Elokuvan tai sarjan nimi</label>: <br />
        <input type="text" name="title" id="title" maxlength="50" required/>
    </p>
    <p>
        <label for="rating">Mitä pidit</label>: <br />
        <input type="text" name="rating" id="rating" size="4" pattern="^[0-9]{0,2}" required/> /10
    </p>
    <p>
        <label for="description">Arvostelu</label>: <br />
        <textarea name="description" id="description" rows="8" cols="60" maxlength="1000"></textarea>
    </p>
    {% for class in classes %}
    <p>
        <label for="class{{ class }}">{{ class }}</label>: <br />
        <select name="classes" id="class{{ class }}">
            <option value="">(valitse)</option>
        {% for option in classes[class] %}
            <option value="{{ class }}:{{ option }}">{{ option }}</option>
        {% endfor %}
        </select>
    </p>
    {% endfor %}
    <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}" />
    <input type="submit" value="Luo arvostelu" />
</form>
{% endblock %}